# Python cache
__pycache__/
*.py[cod]
.mypy_cache

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs / temp
*.log
*.tmp

# Python packaging
*.egg-info/

# documents
_build/
_build/**
.doctrees/
.doctrees/**
api/
api/**

# pytest
.pytest_cache/
.coverage

# other
delete_catche.bat
.bk/